@page
@using FUMiniHotelManagementRazorPage.Pages.SessionHelpers
@model FUMiniHotelManagementRazorPage.Pages.Customers.DetailsModel

@{
    ViewData["Title"] = "Details";
    var token = SessionHelper.GetObjectFromJson<string>(HttpContext.Session, "token");
    var role = DecodeRoleFromToken(token);
}

@if (token == null)
{
    <h1>You must login to access this feature!</h1>
}
else if (role != "Admin")
{
    <h1>You do not have permission to access this feature!</h1>
}
else
{
    <h1>Details</h1>

    <div>
        <h4>Customer</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.CustomerFullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.CustomerFullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.Telephone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Telephone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.EmailAddress)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.EmailAddress)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.CustomerBirthday)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.CustomerBirthday)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.CustomerStatus)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.CustomerStatus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Customer.Password)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.Password)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Customer?.CustomerId" asp-route-token="@Model.Token">Edit</a> |
        <a asp-page="./Index" asp-route-token="@Model.Token">Back to List</a>
    </div>
}


@functions {
    // Method to decode role from the token
    private string DecodeRoleFromToken(string token)
    {
        try
        {
            return SessionHelper.DecodeRoleFromToken(token);
        }
        catch (Exception ex)
        {
            // Handle exception (e.g., log it, return default role, etc.)
            return null; // or return a default role
        }
    }
}


